body {
    position: relative;
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
}

.hide-animation {
    display: none;
}

.load-animation {
    z-index: 100;
    background: gray;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.load-animation .an-content {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.load-animation .an-content img {
    width: 10rem;
    height: 9rem;
    margin-bottom: 1rem;
}
.load-animation .an-content span {
   font-size: 1rem;
   line-height: 2rem;
   color:white;
}

/* 1rem=16px */
.choose {
    position: relative;
    height: 19.2rem;
    margin: 2rem 0;
    width: 100%;
}

.choose .bg-img {
    position: absolute;
    width: 5.5rem;
    height: 5rem;
    top: calc(9.6rem - 2.5rem);
    right: calc(50% - 2.5rem);
}

.block {
    position: absolute;
}

.block .image {
    width: 4.4rem;
    height: 4.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dedede;
    border: 1px solid rgb(196, 196, 196);
}

.block {
    position: absolute;
}

.block-a {
    top: 0;
    left: calc(50% - 2.2rem - 1px);
}

.block-b {
    top: 4.4rem;
    left: 4.2rem
}

.block-f {
    top: 4.4rem;
    right: 4.2rem
}

.block-d {
    top: 10.4rem;
    left: 4.2rem
}

.block-e {
    top: 10.4rem;
    right: 4.2rem
}

.block-c {
    top: 14.8rem;
    left: calc(50% - 2.2rem - 1px);
}


.block .process {
    position: absolute;
    left: 1rem;
    bottom: -1.5rem;
    color: rgba(19, 126, 248, 0.87);
    font-weight: 500;
}

.block .detail {
    position: absolute;
    right: -4rem;
    top: 0.5rem;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.block .detail1 {
    position: absolute;
    left: -4rem;
    top: 0.5rem;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.block .detail>span,
.block .detail>span {
    height: 1.3rem;
    line-height: 1.3rem;
}

.block .detail1>span>select,
.block .detail>span>select {
    width: 3.6rem;
}

.result {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem 2rem;
    border-top: 1px solid #dedede;
}

.result>div {
    flex: 1;
}

.property,
.buff,
.scores {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.property .title,
.buff .title,
.scores .title {
    height: 3rem;
    line-height: 3rem;
}

.property .list,
.buff .list,
.scores .list {
    width: calc(100% - 4rem);
    padding: 0 2rem;
}

.property .item,
.buff .item,
.scores .item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 2rem;
    line-height: 2rem;
}

.scores .item>div {
    color: red;
    font-weight: 600;
    font-size: 1.2rem;
}